* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
a{
    text-decoration: none;
}
.wrapper-song {
    scrollbar-width: none;
}
    .song {
        scrollbar-width: none;

    }

    /* Ẩn thanh cuộn cho ngón tay thanh cuộn */
    .wrapper-song::-webkit-scrollbar {
        display: none;
    }
    .song::-webkit-scrollbar{
        display: none;

    }

